<turbo-frame id="chat_room">
  <header>
    <h1>No Room Selected</h1>
    <p>Create one on the left or wait for an invitation from your friends</p>
    <%= link_to "Exit App View", root_url, data: {turbo: false}%>
  </header>
</turbo-frame>
